/* App.css */

/* Global styling */
body {
  background-color: #caf0f8; /* Background color */
}

/* Main App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Number selection container */
.number-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.number-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.number-selection button {
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  background-color: #f0f0f0;
}

.number-selection button.selected {
  background-color: #007bff;
  color: white;
}

/* Square numbers checkbox container */
.square-numbers-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Start quiz button */
.start-quiz-button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

/* Question display styling */
p {
  font-size: 2.5rem;
  text-align: center;
}

/* Answer input field */
.answer {
  margin-bottom: 20px;
  width: 260px;
}

input {
  width: 97%;
  height: 40px;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;
}

/* Number pad styling */
.number-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 10px;
  padding-top: 10px;
}

.number-pad .delete-button,
.number-pad .enter-button {
  height: 60px;
  font-size: 0.9em;
  padding: 0;
  border-radius: 10px;
}

button {
  width: 80px;
  height: 80px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive styling */
@media (max-width: 600px) {
  .number-selection button {
    width: 40px;
    height: 40px;
    font-size: 1em;
  }

  .square-numbers-container {
    width: 100%;
    justify-content: center;
  }
}
