/* App.css */
.number-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.number-selection button.selected {
  background-color: #4CAF50; /* Example color for selected buttons */
  color: white;
}
.start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

/* Center the App container */
.App {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;    /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh;          /* Full height of the viewport */
}

/* Styling for the p tag containing question sum */
p {
  font-size: 2.5rem; 
  text-align: center; 
}

/* Style for the Quiz component */
.answer {
  margin-bottom: 20px;    /* Adjust this value for spacing between input and number pad */
  width: 260px; /* Adjusted to match total button width */
}

/* Input field styling */
input {
  width: 97%;            /* Set a width for consistency */
  height: 40px;           /* Set a height */
  font-size: 1.5rem;      /* Font size */
  text-align: center;      /* Center text in input */
  padding-bottom: 10px;
}

/* Existing styles for number pad */
.number-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Number grid styles */
.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, 80px); /* Creates a 3-column grid */
  gap: 10px;
  padding-top: 10px;
}

/* Center align action buttons below the number pad */
.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* Styling the buttons */
button {
  width: 80px;
  height: 80px;
  font-size: 1.5rem;
  cursor: pointer;;
}
.start-quiz-button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}
/* Center the number selection and button in the middle of the screen */
.number-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  text-align: center;
}

.number-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.number-selection button {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
}

.start-quiz-button {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
}